*{
  background-color: #646FD4;
}

.center{
  display: flex;
 margin: auto;
justify-content: center;
}

.datediv{
 display: flex;
 width: 40%;
  border: 2px;
  justify-content: space-around;
}

.datedive{
  margin-top: 15%;
  display: flex;
  justify-content: center;
  border: 2px;
  color: #F8B400;
}
input{
  width: 250px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 5px;
}
li{
  list-style-type: none;
  margin: 5px;
}
@media only screen and (min-width: 600px) {
  
  .col-1 {width: 8.33%;}
}

@media only screen and (min-width: 768px) {
  .col-2 {width: 16.66%;}
}
[center*="col-"] {
  width: 100%;
}